body {
    background-color: #656565;
    font-family: sans-serif;
    margin: 0;
    padding-left: 10vw;
}

li {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100vh;
    gap: 20px;
}

.container .header {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container .header .cabecera {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
    color: white;
}

.container .header .nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: rgb(101, 101, 101);
    background: linear-gradient(90deg, rgba(101, 101, 101, 1) 0%, rgba(204, 204, 204, 1) 100%);
    border-radius: 10px;
}

.container .header .nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
}

.container .header .nav .search {
    padding: 5px;
}

.container .header .nav .search input {
    height: 30px;
    width: 22vw;
}

/* inicio de contenido */


.container .contenido {
    width: 100%;
    display: flex;
}

.container .contenido .tecnologias {
    width: 70%;
    margin-right: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.container .contenido .tecnologias .tech {}

.container .contenido .tecnologias .tech img {
    float: left;
}

.container .contenido .tecnologias .tech h2 {
    background-color: #656565;
    text-align: center;
    padding: 6px;
    border-radius: 12px;
    color: white;
}


.container .contenido .noticias {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .contenido .noticias .not {
    background-color: #ceb10d;
    padding: 10px;
    border-radius: 10px;
}

.container .contenido .noticias .not h2 {
    background-color: #656565;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.container .contenido .noticias .not ul {
    color: white;
    padding-left: 0;
}

.container .contenido .noticias .not ul li {
    border-top: 2px solid white;
    padding: 8px;
    font-size: 17px;
    font-weight: 600;
}

@media(max-width:768px) {

    body {
        background-color: red;
    }

    .container .header .cabecera {
        align-items: center;
    }

    .container .contenido {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .container .contenido .noticias {
        margin-top: 20px;
        width: 75%;
    }
}

@media(max-width: 380px) {
    body {
        background-color: blue;
    }

    .container .header .cabecera h1 {
        font-size: 20px;
    }

    .container .header .cabecera img {
        height: 40px;
        border-radius: 10px;
    }

    .container .header .cabecera {
        display: flex;
        gap: 20px;
    }

    .container .header .nav ul {
        flex-wrap: wrap;
        gap: 10px;
        width: 70%;
    }

    .container .header .nav {
        display: block;
    }

    .container .contenido .tecnologias .tech img {
        height: 160px;
        float: none;
    }

    .container .contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .header .nav .search input {
        width: 92%;
        margin-left: 8px;

    }

    .container .contenido .tecnologias {
        margin-right: 0;
    }
}